version: '3.9'
services:
  prisondb:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - /opt/prison/db:/var/lib/mysql
    ports:
      - "3308:3306"
  prisonbackend:
    image: prison_api
    volumes:
      - ./api/api-config.yml:/opt/PRISON-API/config/database.yml
    ports:
      - "3005:3000"
    environment:
      WEB_CONCURRENCY: 6
      RAILS_MAX_THREADS: 5
  prisonfrontend:
    image: nginx
    volumes:
      - ./web/static:/opt/prison
      - ./web/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8080:80"
