version: '3.9'
services:
  prisondb:
    image: mysql:5.7
    command: mysqld
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - /opt/prison/db:/var/lib/mysql
    ports:
      - "3308:3306"
  prisonbackend:
    build: .
    image: prison_api
    # command: bash -c "cd /opt/BHT-EMR-API && rm -f tmp/pids/server.pid && bundle exec rails s -b 0.0.0.0"
    volumes:
      - ./api/api-config.yml:/opt/BHT-EMR-API/config/database.yml
    ports:
      - "3005:3000"
  prisonfrontend:
    image: nginx
    volumes:
      - ./web/static:/opt/emastercard
      - ./web/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8000:80"
